Flask==3.0.2
Werkzeug==3.0.1
Jinja2==3.1.3
itsdangerous==2.1.2
click==8.1.7
transformers
onnxruntime
pandas
language_tool_python
numpy
sentencepiece
gunicorn
flask_sqlalchemy
gtts
vosk
gdown
psycopg2-binary
pyttsx3
flask_socketio
sounddevice
requests
dotenv
